{{ block title }}

{{ endblock }}

{{ block content }}

You need to now decide what you will do in each possible scenario of this game.
{{ if player.participant.know == 1}}{{ partner }} and knows that you are {{ you }}.{{ endif}}
{{ if player.participant.know == 0}}either a Northerner or a Southerner with equal chance.{{endif}}
<br>
<br>
Your partner will choose an amount to send to you and then your decision for that
amount will be executed determining your payment for this stage.
<br>
<br>
<b>Suppose your partner sends you 0 tokens.</b> In this case,
you cannot return any tokens so you do not need to make a decision.
<br>
<br>
<br>



{{ next_button }}




<br><br>


{{ endblock}}